*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #ffffff;
  flex-shrink: 0;
  background-color: #1b1919;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-end;
  height: 54px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__list {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  overflow: auto;
  width: 410px;
  height: 298px;
}

.content__list:last-child {
  margin-bottom: 0;
}

.content__list::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
}

.content__list::-webkit-scrollbar-track {
  background: transparent;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: rgba(38, 39, 44, 0.5);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.content__list:hover::-webkit-scrollbar-thumb {
  background-color: rgb(44, 46, 51);
}

.content__video-card-thumbnail {
  width: 194px;
  object-position: center;
  object-fit: cover;
  background-size: cover;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  max-height: 100%;
  object-position: center;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input[type="text"]:focus {
  outline: none;
}

.search-form__textfield {
  background-color: transparent;
  appearance: none;
  width: 225px;
  border: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  font-family: inherit;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
  gap: 16px;
  margin-bottom: 5px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__list-item {
  margin: 3px 5px 25px 3px;
}

.content__accent {
  color: #545050;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: inherit;
  padding: 6px;
  width: 100%;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus,
.content__video-card:focus,
.content__list:focus,
.search-form__label:focus,
.search-form__textfield:focus,
.content__list-item:focus {
  outline: none;
}

.button:focus-visible,
.result__video-container:focus-visible,
.result__video:focus-visible,
.content__list:focus-visible,
.content__video-card:focus-visible,
.content__list-item:focus-visible,
.content__card-link:focus-visible,
.search-form__label:has(input:focus-visible) {
  outline: 1px solid white;
}

.button:hover {
  text-decoration: underline;
}

.more-button {
  margin-bottom: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: none;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:hover:has(.search-form__textfield) {
  text-decoration: none;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__card-link .content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  color: #ffffff;
}
